.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  .block {
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    gap: 10px;

    input {
      padding: 7px;
      font-size: 16px;
    }
    button {
      padding: 7px;
      font-size: 16px;
    }
  }
}

// ?
.container {
  height: 100%;
}
//! ? login
